# Pandas cheatsheet #

Just because I keep forgoting this stuff.

In [5]:
import pandas as pd

## Read data from CSV ##
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [6]:
df = pd.read_csv('netflix.csv')
df.head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

----

## General DataFrame methods ##

| Description                                                      | method         |
|:-----------------------------------------------------------------|----------------|
| This function returns the first n rows for the object            | `df.head()`    |
| The column labels of the DataFrame.                              | `df.columns`   |
| Print a concise summary of a DataFrame.                          | `df.info()`    |
| Return a tuple representing the dimensionality of the DataFrame. | `df.shape`     |
| Count non-NA cells for each column or row.                       | `df.count()`   |
| Number of Rows                                                   | `len(df.index)`|
| Indicator whether DataFrame is empty.                            | `df.empty()   `|

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
title                1000 non-null object
rating               1000 non-null object
ratingLevel          941 non-null object
ratingDescription    1000 non-null int64
release year         1000 non-null int64
user rating score    605 non-null float64
user rating size     1000 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [9]:
df.shape

(1000, 7)

In [10]:
df.count()

title                1000
rating               1000
ratingLevel           941
ratingDescription    1000
release year         1000
user rating score     605
user rating size     1000
dtype: int64

----
### Project & Slicing ###

| Operation                                 	|                                      	|
|-------------------------------------------	|--------------------------------------	|
| Select a single column by name            	| `df['rating']`                       	|
| Select more than one column by name       	| `df[['rating', 'release year']]`     	|
| Select unique values from a single column 	| `df['rating'].unique()`              	|
| Select a range of columns                 	| `df.loc[:, 'rating':'release year']` 	|
| Select a range of rows                    	| `df[1:3]`                            	|
| Select rows                               	| `df.iloc[[1,3]]`                     	|

----

### Filtering ###

#### Boolean Indexes ####

In [21]:
(df['rating'] == 'R').head()

0    False
1     True
2    False
3    False
4    False
Name: rating, dtype: bool

 Boolean indexes can be used to filtering rows.

In [22]:
df[df['rating'] == 'R'].head()

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
14,The Hunter,R,language and brief violence,100,2011,NaN,82
35,Hyena Road,R,"bloody war violence, language throughout and s...",100,2015,NaN,82
50,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
87,Meet the Blacks,R,"pervasive language, some sexual material, viol...",100,2016,79.0,80

Or using `index` the indexes of the matching rows can be obtained

In [28]:
df[df['rating'] == 'R'].index

Int64Index([  1,  14,  35,  50,  87,  90,  92, 100, 101, 117, 150, 170, 217,
            218, 303, 334, 344, 381, 431],
           dtype='int64')

| Operation 	|                                                    	|
|-------------	|------------------------------------------------------	|
| Equality    	| `df['rating'] == 'R'`                                	|
| Not Equals  	| `df['rating'] != 'R'`                                	|
| Substring   	| `df['ratingLevel'].str.contains("violence") == True` 	|
| Or          	| `df['rating'] == 'R' \| df['rating'] == 'PG-13'`      |
| And         	| `df['rating'] == 'R' & df['rating'] == 'PG-13'`      	|
| Lists       	| `df['rating'].isin(['R','PG-13'])`                   	|
| Negation    	| `~df['rating'].isin(['R','PG-13'])`                  	|

----

## Group data ##
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

In [16]:
grouped_df = df.groupby(["rating"])
grouped_df.mean()

          ratingDescription  release year  user rating score  user rating size
rating
G                      35.0   1998.855072          77.245614         81.173913
NR                    124.0   2015.285714          87.000000         81.428571
PG                     60.0   2007.235294          86.201681         80.558824
PG-13                  80.0   2006.000000          74.000000         80.533333
R                     100.0   2011.315789          87.111111         81.052632
TV-14                  90.0   2014.205128          86.425532         80.393162
TV-G                   35.0   2011.615385          74.500000         81.076923
TV-MA                 110.0   2016.006757          88.520833         80.702703
TV-PG                  70.0   2013.728814          85.857143         80.576271
TV-Y                   10.0   2010.661765          75.600000         81.264706
TV-Y7                  41.0   2008.657895          73.928571         81.263158
TV-Y7-FV               42.0   2012.886364          75.312500         81.272727
UR                    124.0   2016.000000                NaN         82.000000

In [17]:
grouped_df.quantile(0.5)

0.5       ratingDescription  release year  user rating score  user rating size
rating
G                      35.0        1999.0               80.0              82.0
NR                    124.0        2016.0               97.0              82.0
PG                     60.0        2011.0               91.0              80.0
PG-13                  80.0        2006.0               77.0              80.0
R                     100.0        2014.0               91.0              82.0
TV-14                  90.0        2016.0               91.0              80.0
TV-G                   35.0        2012.0               74.0              82.0
TV-MA                 110.0        2016.0               93.0              80.0
TV-PG                  70.0        2014.0               92.0              80.0
TV-Y                   10.0        2013.0               77.0              82.0
TV-Y7                  41.0        2014.0               72.0              82.0
TV-Y7-FV               42.0        2016.0               73.0              82.0
UR                    124.0        2016.0                NaN              82.0

In [19]:
grouped_df.describe()

         ratingDescription                                                 \
                     count   mean  std    min    25%    50%    75%    max
rating
G                    138.0   35.0  0.0   35.0   35.0   35.0   35.0   35.0
NR                    14.0  124.0  0.0  124.0  124.0  124.0  124.0  124.0
PG                   170.0   60.0  0.0   60.0   60.0   60.0   60.0   60.0
PG-13                 15.0   80.0  0.0   80.0   80.0   80.0   80.0   80.0
R                     19.0  100.0  0.0  100.0  100.0  100.0  100.0  100.0
TV-14                234.0   90.0  0.0   90.0   90.0   90.0   90.0   90.0
TV-G                  52.0   35.0  0.0   35.0   35.0   35.0   35.0   35.0
TV-MA                148.0  110.0  0.0  110.0  110.0  110.0  110.0  110.0
TV-PG                 59.0   70.0  0.0   70.0   70.0   70.0   70.0   70.0
TV-Y                  68.0   10.0  0.0   10.0   10.0   10.0   10.0   10.0
TV-Y7                 38.0   41.0  0.0   41.0   41.0   41.0   41.0   41.0
TV-Y7-FV              44.0   42.0  0.0   42.0   42.0   42.0   42.0   42.0
UR                     1.0  124.0  NaN  124.0  124.0  124.0  124.0  124.0

         release year               ... user rating score        \
                count         mean  ...               75%   max
rating                              ...
G               138.0  1998.855072  ...              93.0  96.0
NR               14.0  2015.285714  ...              97.0  97.0
PG              170.0  2007.235294  ...              95.0  98.0
PG-13            15.0  2006.000000  ...              82.0  89.0
R                19.0  2011.315789  ...              96.0  97.0
TV-14           234.0  2014.205128  ...              96.0  98.0
TV-G             52.0  2011.615385  ...              85.0  90.0
TV-MA           148.0  2016.006757  ...              97.0  99.0
TV-PG            59.0  2013.728814  ...              94.0  98.0
TV-Y             68.0  2010.661765  ...              81.0  82.0
TV-Y7            38.0  2008.657895  ...              77.0  88.0
TV-Y7-FV         44.0  2012.886364  ...              83.0  88.0
UR                1.0  2016.000000  ...               NaN   NaN

         user rating size
                    count       mean       std   min   25%   50%   75%   max
rating
G                   138.0  81.173913  0.988348  80.0  80.0  82.0  82.0  82.0
NR                   14.0  81.428571  0.937614  80.0  80.5  82.0  82.0  82.0
PG                  170.0  80.558824  0.876760  80.0  80.0  80.0  82.0  82.0
PG-13                15.0  80.533333  0.915475  80.0  80.0  80.0  81.0  82.0
R                    19.0  81.052632  1.025978  80.0  80.0  82.0  82.0  82.0
TV-14               234.0  80.393162  0.796530  80.0  80.0  80.0  80.0  82.0
TV-G                 52.0  81.076923  1.006764  80.0  80.0  82.0  82.0  82.0
TV-MA               148.0  80.702703  0.958027  80.0  80.0  80.0  82.0  82.0
TV-PG                59.0  80.576271  0.913564  80.0  80.0  80.0  82.0  82.0
TV-Y                 68.0  81.264706  0.971499  80.0  80.0  82.0  82.0  82.0
TV-Y7                38.0  81.263158  0.977703  80.0  80.0  82.0  82.0  82.0
TV-Y7-FV             44.0  81.272727  0.973214  80.0  80.0  82.0  82.0  82.0
UR                    1.0  82.000000       NaN  82.0  82.0  82.0  82.0  82.0

[13 rows x 32 columns]